.CarouselContainer {
  margin-left: 3.5rem;
}
.swiper {
  width: 100%;
  height: 350px;
  padding: 30px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 70%;
  object-fit: cover;
}

@media only screen and (max-width: 769px) {
  .swiper {
    padding: 0px;
  }
  .swiper-slide img {
    height: 80%;
  }
}
@media only screen and (min-width: 1300px) {
  .swiper {
    height: 400px;
    padding: 20px;
  }
  .swiper-slide img {
    width: 80%;
    height: 80%;
  }
}
.carouselContainer:hover img {
  transform: translateY(-5px);
  transition: all 0.7s ease-in-out;
}
.carouselUnderline {
  position: relative;
  user-select: none;
  padding: 10px;
  font-size: larger;
  font-family: Poppins;
  text-align: left;
}
.carouselTextContainer {
  padding: 10px;
  font-size: larger;
  text-align: left;
  font-family: Poppins;
  letter-spacing: 1.2px;
}
.carouselContainer:hover .underline {
  content: "";
  position: absolute;
  width: 50%;
  height: 1.2px;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 2.5s ease-out;
}
.carouselContainer:hover:after .underline {
  transform: scaleX(1);
  transform-origin: bottom left;
}
