.expertise-container {
  height: 100vh;
  padding: 5rem;
  padding-top:0;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height:100%;
  width: 100%;
}

.skill_header {
  font-size: 2em;
  text-align: center;
  .bg-text {
    font-weight: normal;
  }
}

.product-service-content{
  color:white;
}

.primary-box-arrows{
  display: flex;
  height: 100%;
  width: 70%;
  position: relative;
  overflow: hidden;
  color:white;
}

.primary-box-icons{
  font-size: 2em;
  display: flex;
  align-items: center;
  color: white;
}

.primary-box-icons-hover{
  cursor: pointer;
}

.primary-container {
  padding: 0.6rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
}

.primary-container-image {
  height: 70%;
  width: 100%;
}

.primary-product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  opacity: 1;
  transition: 100ms ease;
  backface-visibility: hidden;
}

.text {
  background-color: #01ffe9;
  color: #000;
  font-size: 2rem;
  font-weight: lighter;
  height: 9rem;
  width: 9rem;
  cursor: pointer;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.product-gallery {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.middle {
  transition: 200ms ease;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%);
  -ms-transform: translate(-55%, -50%);
}

.related-product-image {
  border-radius: 10px;
  margin: 0.6rem;
  object-fit: cover;
}

@media (width<=765px){
  .primary-container{
    display: none;
  }
  .expertise-container{
    padding: 2rem;
  }
  .product-gallery{
    flex-direction: row;
    width: 100%;
    height: 40%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}