.HomePageContainer {
  margin-top: 100px;
}
.HomePageSection {
  margin-top: 150px;
  background-color: black;
  height:650px!important;
  margin-bottom: -100px;
  color:white;
}
.HomePageText {
  margin-left: 2em;
  font-family: Poppins;
  font-size: 2em;
  padding: 5px;
  font-weight: bold;
}
.HomePageText1 {
  font-family: Poppins;
  font-size: 2em;
  padding: 24px;
  font-weight: bold;
}

@media only screen and (min-width: 1300px) {
  .HomePageSection {
    height: 1200px;
  }
}
