.MarqueeContainer {
  background-color:#cccccc;

  .MarqueeImage {
    height: 150px;
    background-color: #cccccc;
  }

  .MarqueeDiv {
    padding: 20px;
    margin-right: 100px;
    background-color: #cccccc;
    cursor: pointer;
  }

  @media screen and (max-width: 900px) {
    .MarqueeImage {
      height: 100px;
      width: 60px;
    }

    .MarqueeDiv {
      padding: 12px;
      margin-right: 30px;
    }
  }

}