.navbar {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1.25rem 2rem;
  width: 100%;
  z-index: 10000;
  ::selection {
    background-color: var(--first-color-lighter);
    color: var(--first-color);
  }
}

.burger-menu {
  display: none;
}

.logo {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
}

.titles {
  nav {
    ul {
      list-style-type: none;
      display: flex;
    }
    li {
      margin-right: 3rem;
      position: relative;
      font-size: var(--small-font-size);
      font-weight: var(--font-medium);
      margin-bottom: var(--mb-0-25);
      span {
        position: absolute;
        height: 1px;
        width: 0;
        bottom: 0;
        left: 0;
        background-color: var(--secondary-color);
        transition: 0.3s;
      }
      &:hover {
        cursor: pointer;
        span {
          width: 100%;
        }
      }
    }
  }
}

.login-btn {
  button {
    padding: 0.5rem 1.5rem;
    font-size: var(--h2-font-size);
    background-color: var(--default-color);
    border: 1px solid var(--first-color);
    color: var(--first-color);
    border-radius: 2rem;
    transition: 0.4s;
    &:hover {
      cursor: pointer;
      background-color: var(--first-color);
      color: var(--default-color);
    }
  }
}

@media screen and (max-width: 1024px) {
  .burger-menu {
    display: block;
    z-index: 2;
    &:hover {
      cursor: pointer;
    }
  }
  .titles {
    display: none;
  }
}

@media screen and (max-width: 376px) {
  .navbar {
    padding: 1rem 1rem;
  }
  .burger-menu {
    svg {
      height: 15px;
      width: 18px;
      margin: 0 0.5rem;
    }
  }
  .logo {
    font-size: 1.8rem;
  }
  .login-btn {
    button {
      font-size: var(--normal-font-size);
      padding: 0.5rem 1rem;
    }
  }
}
