.profile-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.profile-title {
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}
