.quickBook-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  @media screen and (max-width: 1000px) {
    width: 100%;
    height: 100%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    .input-container {
      position: relative;
      border-bottom: 1px solid white;
      text-align: center;
      color: var(--default-color);
      margin-bottom: var(--mb-2-5);
    }
  }

  .input-container input {
    width: 100%;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    height: 50px;
    padding: 0 5px;
    font-size: var(--h2-font-size);
    color: var(--primary-color);
  }
  .input-container label {
    position: absolute;
    top: 40%;
    left: 14px;
    font-size: var(--normal-font-size);
    pointer-events: none;
    color: var(--primary-color);
    transform: translateY(-50%);
    transition: 0.5s;
    transform: scale(1.2);
  }
  .input-container input:focus ~ label,
  .input-container input:valid ~ label {
    top: -10px;
    transform: scale(1);
    left: 0;
    color: var(--first-color);
  }
  .quickBook-btn-container {
    display: flex;
    justify-content: center;
    align-content: center;
    button {
      background-color: #0faf4a;
      border-radius: 100px;
      box-shadow: 0px 8px 20px -4px #25D366;
      color: white;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      font-size: 16px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      padding: 3px;
      width: 90%;
      a{
        text-decoration: none;
        color:var(--default-color);
        font-size: var(--h2-font-size);
      }
      @media screen and (max-width: 1000px) {
        width: 100%;
        padding: 0.8em 1em;
        border-radius: 10px;
      }
      &:hover {
      transform: scale(1.05) ;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
}
@font-face {
  font-family: "ubuntu";
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"),
    url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2)
      format("woff2");
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
