.Section3how_we_work {
  padding: 5rem;
  &_title {
    font-size: var(--big-font-size);
    color: var(--first-color-lighter);
    padding: 2rem;
    @media screen and (max-width: 500px) {
      padding: 0 0 1rem 0;
      font-size: var(--h1-font-size);
    }
  }
}

.Section3wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 18rem));
  gap: 2.5rem;
  justify-content: center;
  margin-bottom: 40px;
}
