.Section2PageContainer {
  margin-top: 100px;
}
.Section2PageSection {
  margin-top: 150px;
  background-color: rgb(0, 0, 0);
  max-height: 600px;
  color: white;
}
.Section2PageText {
  margin-left: 1em;
  font-family: Poppins;
  font-size: 2em;
  padding: 5px;
  font-weight: bold;
}
.Section2PageText1 {
  font-family: Poppins;
  font-size: 2em;
  padding: 20px;
  margin-left: 20px;
}

@media only screen and (max-width: 1100px) {
  .Section2PageText {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-size: 2.3rem;
  }
  .Section2PageText1 {
    padding: 15px;
    font-size: 1.8rem;
    margin-left: 0px;
  }
  .waveImage {
    margin-top: 0px !important;
  }
}

