.Section2PageContainer {
  margin-top: 100px;
}
.Section2PageSection {
  margin-top: 150px;
  background-color: black;
  height: 650px !important;
  color: white;
}
.Section2PageText {
  margin-left: 2em;
  font-family: Poppins;
  font-size: 2em;
  padding: 5px;
  font-weight: bold;
}
.Section2PageText1 {
  font-family: Poppins;
  font-size: 2em;
  padding: 24px;
  font-weight: bold;
}

@media only screen and (min-width: 1300px) {
  .Section2PageSection {
    height: 1200px;
  }
}
