.section4{
  &_container{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 5rem ;
    @media  screen and (max-width: 1000px) {
      flex-direction: column; 
      align-items: center;
    }
    @media screen and (max-width:400px) {
      padding: 5rem 2rem;
    }
  }
  &_googlemap{
    height: auto;
    width: 60%;
    @media screen and (max-width: 1250px){
      width: 70%;
    }
    @media  screen and (max-width: 1150px) {
      width: 65%;
    }
    @media screen and (max-width:1000px) {
      min-height: 50vh;
      min-width: 70%;
    }
    @media screen and (max-width: 750px) {
      min-width: 80%;
    }
    @media screen and (max-width: 600px) {
      min-width: 100%; 
    }
    @media screen and (max-width: 500px) {
      min-height: 40vh;
    }
    @media screen and (max-width:375px) {
     min-height: 70vh; 
    }
  }
  &_timings{
    white-space: pre-line;
    text-align: left;
    @media screen and (max-width:1000px){
      padding: 0rem 10rem; 
    }
    @media screen and (max-width:800px) {
      padding:0rem;
    }
  }
}