.servicecard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  letter-spacing: 1px;
  height: auto;
  &_title {
    padding: 1rem;
    color: var(--first-color);
    font-size: var(--h1-font-size);
    text-align: center;
  }
  &_desc {
    padding: 1rem 1rem 2rem 1rem;
    ul,
    li {
      padding: 0.3rem 0;
    }
  }
  &_index {
    width: 50%;
    padding: 0.5rem 1rem;
    font-size: var(--h2-font-size);
    border: 1px solid var(--secondary-color);
    background-color: var(--default-color);
    transition: 200ms all ease-in;
    a {
      &:hover {
        color: var(--default-color);
      }
    }
    &:hover {
      cursor: pointer;
      border: 1px solid var(--first-color);
      background-color: var(--first-color);
    }
  }
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
