.service{
  &__section{
    padding: 5rem 10rem;
    @media screen and (max-width:1000px){
      padding: 5rem 3rem;
    }
  }
  &__cardWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 4rem;
    justify-content: center;
  }
  &__title{
    margin: 2rem 0;
    color: var(--first-color);
    font-size: var(--big-font-size);
    @media screen and (max-width:1000px){
      font-size: var(--h1-font-size);
    }
  }
}
