.testimonialContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-height: 1000px;
  padding: 10px;
  z-index: -1;
  background-color: whitesmoke;
}
.testimonialHeading {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
  font-size: 3.4em;
  width: 100%;
  text-align: center;
  font-weight: 800;
  color: rgb(57, 10, 197);
}

.testimonialHeading b {
  color: black;
}

.testimonialSwiper {
  width: 100%;
  height: 100%;
  padding: 0px;
  background-color: whitesmoke;
}
.testimonialSlider {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}

.clientWrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-bottom: 2em;
  margin-top: 3em;
}
.clientContainer {
  position: relative;
  width: 300px;
  margin: 40px 10px;
  padding: 30px 20px;
  border-radius: 3px;
  transition: 0.3s ease;
  height: 250px;
}
.profile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20%;
  width: 100%;
  display: block;
}
.clientImgBox {
  position: relative;
  height: 100px;
  margin: auto;
  border: 2px solid grey;
  border-radius: 50%;
  overflow: hidden;
  width: 40%;
}
.clientImgBox img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: 0.3s ease;
  object-fit: contain;
}
.clientImgBox h2 {
  padding: 5px 0;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  text-align: center;
}
.clientContainer p {
  margin-top: 75px;
  padding: 0 8px;
  font-size: 15px;
  opacity: 0.8;
  text-align: center;
}
.clientLeft {
  font-size: 20px;
  display: block;
  text-align: left;
  color: rgb(57, 10, 197);
}
.clientRight {
  font-size: 20px;
  display: block;
  text-align: right;
  color: rgb(57, 10, 197);
}

.clientImgBox:hover img {
  filter: saturate(140%);
  transform: scale(0.95);
}
.writeReview {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  background-color: whitesmoke;
  align-items: center;
  display: flex;
  justify-content: center;

}
@media only screen and (max-width: 1100px) {
  .testimonialHeading img {
    height: 50px !important;
  }
  .testimonialContainer span {
    margin-right: 0px;
    height: auto;
  }
  .testimonialHeading {
    padding: 0px !important;
    font-size: 2.3em;
    margin-bottom: 0px;
  }

  .writeReview {
    width: 100%;
    font-size: 1.2rem;
  }
}
.writeReview .button-6 {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: bold;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  margin-left: 10px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}